/.venv
/__pycache__
GNN for acceleration/Supervised/Model/__pycache__
GNN for acceleration/Unsupervised/Model/__pycache__
GNN for energy/__pycache__
GNN for energy/GNN_for _energy_target/__pycache__
GNN for energy/GNN_20cells_8knn/__pycache__